<main class="container-fluid">
    <section class="row justify-content-center mt-2">
        <div class="col-sm-12 col-md-12 col-lg-8 card p-0">
            <div class="card-header">
                Základní informace
            </div>
            <div class="card-body">
                Tady budou informace.
            </div>
        </div>
    </section>

    <section class="row justify-content-center mt-2">
        <div class="col-sm-12 col-md-12 col-lg-8 card p-0">
            <div class="card-header">
                Jak se přihlásit
            </div>
            <div class="card-body">
                <ol>
                    <li>Registrace</li>
                    <ul>
                        <span>Před přihlášením k samotné akci je nejprve potřeba si vytvořit účet. Tento účet se potom používá k přístupu k úlohám na akci.</span>
                        <li>V pravém horním rohu klikněte na ikonku účtu a potom na tlačítko "Přihlásit se".</li>
                        <li>Ve spodní části formuláře klikněte na tlačítko vytvořit účet.</li>
                        <li>Vyplňte potřebné údaje a klikněte na tlačítko registrovat.</li>
                        <li>Na zadaný email vám příjde nová zpráva s odkazem pro aktivaci účtu. Na ten klikněte a budete automaticky přihlášen/a do aplikace.</li>
                    </ul>
                    <li>Přihlášení do akce</li>
                    <ul>
                        <span>Po vytvoření a přihlášení do účtu můžete přejít na <a [routerLink]="['action']">seznam akcí.</a></span>
                        <li>V seznamu akcí najděte akci, které byste se chtěl/a zůčastnit.</li>
                        <li>Pokud je akce volná a registrace je otevřená, uvidíte tlačítko pro přihlášení.</li>
                        <li>Po kliknutí na tlačítko jste úspěště přihlášen/a na akci.</li>
                    </ul>
                </ol>
            </div>
        </div>
    </section>
</main>