<main class="container-fluid">
    <section class="row justify-content-center mt-2">
        <div class="col-sm-12 col-md-12 col-lg-8 card p-0">
            <div class="card-header">
                Výsledky Purkiády
            </div>
            <div class="card-body text-center">
                <h1>Výsledková listina Purkiády</h1>
                <a class="btn btn-outline-primary" href="https://drive.google.com/file/d/1EAk4PsqKNNYkRp6Q1R58OQv74xVB2b-K/view?usp=sharing" target="_blank" rel="noopener noreferrer"><i class="bi bi-cloud-download me-2"></i>Zobrazit</a>
            </div>
        </div>
    </section>
    <section class="row justify-content-center mt-2">
        <div class="col-sm-12 col-md-12 col-lg-8 card p-0">
            <div class="card-header">
                Základní informace
            </div>
            <div class="card-body">
                <p>Kdy a kde?</p>
                <ul>
                    <li>12. ročník Purkiády se koná 22.2.2022 od 8 do 12 hodin na naší škole (více info v záložce akce). Najdete nás v Brně na Purkyňově ulici 97.</li>
                    <li>Příklady budeme řešit od 8.45 hodin, v 8.10 hodin vás přivítáme v jídelně naší školy (od vrátnice vpravo
                        podle šipek).</li>
                    <li>Na vyřešení úloh není potřeba znalost žádného speciálního programu. Pokud nějakého ne zcela běžného programu využíváme, vše je řádně vysvětleno.</li>
                    <li>Doporučujeme pro řešení úloh nepoužívat prohlížeč Internet Explorer.</li>
                    <li>Po skončení soutěže si budete moci školu za doprovodu studentů prohlédnout.</li>
                    <li>Pozvánka na prohlídku školy platí i pro váš případný doprovod.</li>
                    <li>Na vaši účast se těší přípravný tým Purkiády</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="row justify-content-center mt-2">
        <div class="col-sm-12 col-md-12 col-lg-8 card p-0">
            <div class="card-header">
                Jak se přihlásit
            </div>
            <div class="card-body">
                <ol>
                    <li>Registrace</li>
                    <ul>
                        <span>Před přihlášením k samotné akci je nejprve potřeba si vytvořit účet. Tento účet se potom
                            používá k přístupu k úlohám na akci.</span>
                        <li>V pravém horním rohu klikněte na ikonku účtu a potom na tlačítko "Přihlásit se".</li>
                        <li>Ve spodní části formuláře klikněte na tlačítko vytvořit účet.</li>
                        <li>Vyplňte potřebné údaje a klikněte na tlačítko registrovat.</li>
                        <li>Na zadaný email vám příjde nová zpráva s odkazem pro aktivaci účtu. Na ten klikněte a budete
                            automaticky přihlášen/a do aplikace.</li>
                    </ul>
                    <li>Přihlášení do akce</li>
                    <ul>
                        <span>Po vytvoření a přihlášení do účtu můžete přejít na <a [routerLink]="['action']">seznam
                                akcí.</a></span>
                        <li>V seznamu akcí najděte akci, které byste se chtěl/a zůčastnit.</li>
                        <li>Pokud je akce volná a registrace je otevřená, uvidíte tlačítko pro přihlášení.</li>
                        <li>Po kliknutí na tlačítko jste úspěště přihlášen/a na akci.</li>
                    </ul>
                </ol>
            </div>
        </div>
    </section>
</main>